.title-content {
    font-family: 'Anton', sans-serif;
    color: var(--white-color);
}

.overlay {
    z-index: 1;
    position: absolute;
    top: 5.6rem;
    min-width: 100%;
    min-height: 101%;  
    background-color: black;
    opacity: 0.4; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-circle svg {
    display: flex;
    justify-content: center;
}

.nav-z {
    z-index: 11;
}

.title {
    margin-top: -8rem;
    margin-bottom: 8rem;
}

.img-destaque {
    width: 50%;
    margin: 0 10rem;
}

.heading-grid {
    outline: none;
}

.div-footer {
    display: block;
    padding: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.pricing-header {
  max-width: 700px;
}

.divider {
    padding: 2.1rem;
}

.topo-content {
    z-index: 5;
}

.section {
    min-height: 50vh;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

  
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://images.pexels.com/photos/3777622/pexels-photo-3777622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
}
